@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box;
}


body
{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200713/pngtree-digital-global-technology-with-circuit-diagram-and-light-ray-image_351317.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}



.container{
    position:relative;
    display:flex;
    justify-content: center;
    max-width:1200px;
    flex-wrap:wrap;
    z-index:1;
}

.container .card
{

    position: relative;
    width:280px;
    height:400px;
    margin:30px;
    box-shadow:  20px 20px 50px rgba(33, 228, 186, 0.87);
    border-radius: 15px;
    background:rgba(255,255,255,0.1);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
}


.container .card .content 
{
padding:20px;
text-align:center;
transform: translateY(100px);
opacity:0;
transition: 0.5s;

}

.container .card:hover .content{
    transform: translateY(0px);
opacity:1;
}

.container .card .content h2
{
    position: absolute;
 top:-40px;
 right:30px;
 font-size:8em;
 color:rgba(255,255,255,0.1);
 pointer-events: none;

}

.container .card .content h3
{
    
 font-size:1.8em;
 color:#fff;
z-index: 1;
 
}


.container .card .content p
{
    
 font-size:1em;
 color:#fff;
font-weight: 300;
 
}


